/* For Button */
.button {
  width: 100%;
  margin-top: 1.25rem; /* mt-5 → 20px */
  margin-bottom: 1rem; /* mb-4 → 16px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem; /* py-10 → 40px top & bottom */
  padding-bottom: 2.5rem;
}

/* For Button DIV */
.avatar-container {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 0.5rem; /* gap-2 → 8px */
}

@media screen and (max-width: 600px) {
  .side-bar {
    visibility: hidden !important;
  }

  .container {
    flex-direction: column;
  }
}
